<?xml version="1.0"?>
<configuration>

	<connectionStrings>
		<!--<add name="conStr" providerName="System.Data.SqlClient"
         connectionString="Data Source=43.255.152.25;Initial Catalog=sms_;User ID=sms_test;password=#Ww06hl3 "/>-->
		<!--<add name="conStr" providerName="System.Data.SqlClient"
         connectionString="Data Source=43.255.152.25;Initial Catalog=_gvsvhool;User ID=uplschool;password=Ijhg42^2"/>-->
		<add name="conStr" providerName="System.Data.SqlClient" connectionString="Data Source=VASHU;Initial Catalog=_RNWORLDSCHOOL;Integrated Security=True"/>
		<!--<add name="conStr" providerName="System.Data.SqlClient" connectionString="Data Source=148.72.232.60;Initial Catalog=_Anscollege;User ID=college_ansBarh;password=p2Anz2_9"/>-->
		<!--<add name="conStr" providerName="System.Data.SqlClient" connectionString="Data Source=UPL-INFOTECH;Initial Catalog=College_software;Integrated Security=True"/>-->
		<!--<add name="MainConnectString" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=dbsam;Integrated Security=True"/>-->
		<!--<add name="MainConnectString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=dbEcomm;Integrated Security=True" providerName=".NET Framework Data Provider for SQL Server"/>-->
	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<machineKey validationKey="33E34747FC7D6B7E670732624DC53451E7FD8385CB4AB5AC53C4A5D6AE43C878AC00E0DDC9975A434265D7529D47D1673802C3E158F6B7CB0D3829B326BB8A3A" decryptionKey="16B933B390665714207D6A759E7A3765E3EAF6AB7C583970F314CFD9084FB41A" validation="SHA1" decryption="AES"/>
		<sessionState timeout="600"/>
		<!--To increasing the size of file to be uploaded-->
		<httpRuntime maxRequestLength="90000"/>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.8"/>
		<authentication mode="Windows"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<clear/>
				<add value="Default.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
		
      </system.Web>
	  
  -->
	
	
</configuration>